.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.table-container-mobile {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.table-content {
  width: 90%;
  max-width: 1200px;
}

.filter-input {
  width: 100%;
}

.mat-elevation-z8 {
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .table-content {
    width: 95%;
  }
}

.fixed-bottom-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.dialog-content > div {
  height: auto;
}

.container-large-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 20px 0;
}

.container-large-box {
  height: 113px;
  width: 100%;
}

.table-header,
.table-footer {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}
