<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <span [ngClass]="{ 'hide-mobile': isMobile() }"
        >Informações Nutricionais</span
      >
      <mat-icon>set_meal</mat-icon>
    </ng-template>
    <div *ngIf="!isMobile(); else mobile" class="table-container">
      <div class="table-content">
        <div class="table-header">
          <h2>Resultado de uma Ração</h2>
          <h4><span style="font-weight: 500">Ração:</span> RAÇÃO TILÁPIA</h4>
          <h4>
            <span style="font-weight: 500">Exigência:</span> TILÁPIA DO NILO
            CRESCIMENTO
          </h4>
        </div>
        <!-- <mat-form-field class="filter-input">
          <mat-label>Busca</mat-label>
          <mat-icon matSuffix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field> -->

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="foods" class="mat-elevation-z8">
            <!-- Item Column -->
            <ng-container matColumnDef="Alimento">
              <th mat-header-cell *matHeaderCellDef>Alimento</th>
              <td mat-cell *matCellDef="let food">
                {{ food.item }}
              </td>
              <td mat-footer-cell *matFooterCellDef>Total</td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="Quantidade">
              <th mat-header-cell *matHeaderCellDef>Quantidade</th>
              <td mat-cell *matCellDef="let food">
                {{ food.percentage }}
              </td>
              <td mat-footer-cell *matFooterCellDef>
                {{ total }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
    <ng-template #mobile>
      <!-- <mat-form-field class="filter-input">
        <mat-label>Busca</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field> -->
      <div class="table-header">
        <h2>Resultado de uma Ração</h2>
        <h4><span style="font-weight: 500">Ração:</span> RAÇÃO TILÁPIA</h4>
        <h4>
          <span style="font-weight: 500">Exigência:</span> TILÁPIA DO NILO
          CRESCIMENTO
        </h4>
      </div>
      <div class="table-container-mobile">
        <div
          class="container-large-box mat-elevation-z4"
          *ngFor="let row of foods"
        >
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Alimento</span>
              <span matListItemLine>{{ row.item }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Quantidade</span>
              <span matListItemLine>{{ row.percentage }}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="table-footer">
          <h2>Total: {{ total }}</h2>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span [ngClass]="{ 'hide-mobile': isMobile() }">
        Composição Nutricional
      </span>
      <mat-icon>receipt_long</mat-icon>
    </ng-template>
    <div *ngIf="dialogContent" class="dialog-content">
      <div [innerHTML]="dialogContent"></div>
    </div>
  </mat-tab>
</mat-tab-group>
