<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="nav-title">Cooperativa de Peixe</span>
</mat-toolbar>

<mat-sidenav-container color="primary">
  <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'">
    <mat-nav-list style="text-align: center">
      <h3 mat-subheader>Rações para Peixe</h3>
      <a matListItemTitle class="custom-button" routerLink="/tilapia"
        >Tilapia</a
      >
    </mat-nav-list></mat-sidenav
  >
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
