mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

mat-nav-list > a {
  text-decoration: none;
}

.nav-title {
  display: flex;
  align-items: center;
}

.active-link {
  background-color: #e0e0e0; /* Cor de destaque para o link ativo */
  color: #fff; /* Cor do texto para o link ativo */
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
